body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #333333;
}

/* nav style */
main nav {
  max-width: 100%;
  grid-column: span 2;
  text-align: center;
  box-sizing: border-box;
  background: #d1a8b3e8;
  color: #85203b;
}

nav img {
  width: 80%;
  border-radius: 100%;
  margin: 10px 10px;
}

nav a {
  display: block;
  text-decoration: none;
  color: #ddd;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 20px;
  margin-bottom: 30px;
}
/* article style */
main article {
  grid-column: span 10;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: #85203b;
}

article img {
  grid-column: span 6;
  max-width: 100%;
  padding: 60px 20px;
}

/*article about*/
article .about {
  grid-column: span 6;
  padding: 60px 50px;
  color: #fff;
}

/*article services*/
article .services {
  grid-column: span 6;
  background: #d1a8b325;
  margin: 10px 20px;
  height: 200px;
  align-self: center;
}

.services li {
  margin: 10px 0;
  color: #fff;
}

/*article skills*/
article .skills {
  grid-column: span 6;
  background: #d1a8b325;
  height: 200px;
  margin: 20px 20px;
}

.skills li {
  margin: 5px 0;
  color: #fff;
  
}

.services h2, .skills h2 {
  text-align: center;
  color: #fff;
}

/*article Contact*/
article .Contact {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
   background: #85203b;
  border-bottom: 20px;
}

article .Contact h2 {
  grid-column: span 12;
  text-align: center;
  color: #fff;
}

article .Contact form {
  grid-column: span 12;
  align-self: center;
  justify-self: center;
  margin: 10px 0;
  padding: 20px 30px;
  background: #d1a8b325;
  width: 60%;
}

/*form*/
form div {
  margin: 10px 10px;
  color: #fff;
}

form input[type=text]{
  border: none;
  padding: 10px;
  margin-left: 10px;
  width: 80%;
  margin-bottom: 10px;
}

form input[type=submit]{
  border: none;
  padding: 15px;
  color: #fff;
  background: #e200a263;
  font-size: 15px;
  border-radius: 9px;
}

form textarea {
  border: none;
  display: block;
}
@media screen and (max-width: 1000px){
  main nav {
    display: none;
  }
 
 main article {
  grid-column: span 12;
 }
 
 article img {
  grid-column: span 10;
  padding-bottom: 0;
 }

 article .about {
  grid-column: span 12;
 }
 
 article .services {
  grid-column: span 12;
 }
 
 article .skills {
  grid-column: span 12;
 }
 
 article .Contact form{
   grid-column: span 12;
 }
 
 form div {
   margin: 10px 5px;
   width: 100%;
 }
 
 form input[type=text] {
   width: 80%;
   margin: 5px 5px;
 }
 
 form textarea {
   width: 80%;
   margin: 5px 5px;
 }
}
